better-directions.org
cache
cache.back.*
cache.next
/checkouts
*.class
/classes
credentials.org
features.org
FIXMEs.org
.hg/
.hgignore
*.jar
/.lein-*
/.nrepl-port
pom.xml
pom.xml.asc
/.prepl-port
profiles.clj
src/stradina/untracked.clj
src/stradina/whiteboard.clj
store
store.back.*
/target
tmpfile
todo*.org
